{% extends 'manager/base.html' %}
{% block content%}
    <div class='content'style ='margin:5% 20% 20% 20%'>
    <form action="{% url 'manager:patient_added' %}" method = 'POST'> 
        <table class = 'table '>
            {{ form.as_table }}
            {% csrf_token %}
        </table>
        <input type="submit" value="Add the Patient" class='btn btn-primary btn-sm'>
        <input type="reset" value="Reset" class='btn btn-danger btn-sm'>


    </form>   
    </div>
    

    

{% endblock %}